<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
</head>
<body>
    <h1>Simple Calculator that divides number 1 by number 2</h1>
    <form method="POST">
        <label for="num1">Number 1:</label><br>
        <input type="text" id="num1" name="num1"><br><br>
        <label for="num2">Number 2:</label><br>
        <input type="text" id="num2" name="num2"><br><br>
        <input type="submit" value="Calculate">
    </form>
    {% if result is not none %}
        <h2>Result: {{ result }}</h2>
    {% endif %}

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
</body>
</html>
